.header{
    background-image: url('../Assets/Hero-bg.png');
    width: auto;
    height: 100vh;
}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* nav style */

.navbar_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 45px;
    font-weight: 800;
    color: #4E47FF;
    margin-left: 200px;
}

nav ul li{
    list-style: none;
}

.btn-1{
    margin-right: 200px;
    padding: 18px 35px;
    font-size: 17px;
}

.btn-2{
    margin-left: 460px;
    padding: 18px 35px;
    font-size: 17px;
}

.btn{
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    border: none;   
}

.btn-3{
    margin-left: 460px;
    padding: 18px 35px;
    font-size: 17px;
}

.banner_section{
    margin: 200px 400px;
}

.banner_text{
    font-size: 60px;
    font-weight: 1000;
    text-align: center;
}

.act-sec-p{
    font-size: 24px;
    color: #56565f;
}

.act-sec-h3{
    font-size: 42px;
    color: #252432;
}

.wc-mini-png{
    height: 328px;
    width: auto;
    border-radius: 45px;
    margin-left: 800px ;
}

.action-section{
    display: flex;
    justify-content: space-between;
    margin: 130px 50px;
}

.text-section{
    margin-left: 100px;
}

.productive-section{
    background-color: #e3e2ff;
    margin: 100px 150px;
    padding-top: 4px;
    border-radius: 30px;
}

.pro-text{
    text-align: center;
    font-size: 40px;
}

.data{
    display: flex;
    justify-content: space-between;
    margin: 0px 300px;
    font-size: 50px;
    font-weight: 800;
    color: #4E47FF;
}
.act-data{
    display: flex;
    justify-content: space-between;
    margin: 0px 300px;
}

.newsletter{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.text-new{
    font-size: 100px;
    font-weight: bolder;
}

.from{
    margin-left: 200px;
    border-color: #56565f;
    padding: 5px;

}
