/* header */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.header{
    background-image: url('../Assets/Hero-bg.png');
    width: auto;
    height: 100vh;
}

/* nevbar-srction */

.navbar_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 45px;
    font-weight: 800;
    color: #4E47FF;
    margin-left: 200px;
}

nav ul li{
    list-style: none;
}

.btn-1{
    margin-right: 200px;
    padding: 18px 35px;
    font-size: 17px;
}

/* banner-section */

.banner-section{

}

.ban-p{
    margin: 250px 500px 0px 500px;
}

.banner_text{
    font-size: 60px;
    font-weight: 1000;
    text-align: center;
}

.ban-btn-2{
    display: flex;
    justify-content: center;
}

.btn-2{
    padding: 18px 35px;
    font-size: 17px;
}


/* main */

.action-section{
    display: flex;
    justify-content: space-between;
    margin: 130px 130px;
}

.text-section{
    
}

.act-sec-h3{
    font-size: 42px;
    color: #252432;
}

.act-sec-p{
    font-size: 24px;
    color: #56565f;
}

.btn-3{
    margin-right: 200px;
    padding: 18px 35px;
    font-size: 17px;
}

.wc-mini-png{
    height: 328px;
    width: auto;
    border-radius: 45px;
}


/* productive_user-section */


.productive-section{
    background-color: #e3e2ff;
    margin: 130px 130px;
    padding-top: 4px;
    border-radius: 30px;
}

.pro-h3{

}

.pro-text{
    text-align: center;
    font-size: 40px;
    margin: 30px 0px 0px 0px;
}

.data{
    display: flex;
    justify-content: space-between;
    margin: 0px 300px 0px 300px;
    font-size: 100px;
    font-weight: 800;
    color: #4E47FF;
}

.data>p{
    margin: 40px 0px 0px 0px;
}

.act-data{
    display: flex;
    justify-content: space-between;
    margin: 0px 350px;
}

/* review-section */

.rev-h3{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 35px 0px 25px 0px;
}

.rev-card{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-all{
    border: 2px solid #f6f6ff;
    border-radius: 20px;
    background-color: whitesmoke;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
}

.star{
    margin-top: 15px;
}

.card-all>h5{
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.card-all>p{

}

.profile{
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile>img{
    border-radius: 100px;
}

.profile>p{
    margin-top: 0px;
    margin-bottom: 0px;
}


/* newsletter */

.newsletter{
    display: flex;
    margin: 200px;
    justify-content: space-between;
}

.new-text{
    font-size: 100px;
    font-weight: bolder;
}

.width-50{
    width: 50%;
}

input[type="email"],input[type="text"]{
    height: 50px;
    border-radius: 10px;
    background-color: #4E47FF;
    width: 70%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: #56565f;
    background-color: whitesmoke;
}

textarea{
    border-radius: 10px;
    background-color: #4E47FF;
    width: 70%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: #56565f;
    background-color: whitesmoke;
}

.new-form>h5{
    font-size: larger;
}


.btn-4{
    padding: 10px 20px;
    font-size: 17px;
    width: 75%;
}

/* footer-section */

footer{
    margin-bottom: 130px;
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 50px;
}

.footer-logo>h1{
    margin-bottom: 0px;
    color: #4E47FF;
}

.footer-p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tab-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.tab-section>a{
    text-decoration: none;
    color: black;
}






.btn{
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    border: none;   
}